<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generate new post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

</head>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

<body style="background-color: #3ab9bc; align-content: center;">
        <div class="container" style = "background-color: #29a8ab; border-radius: 10px; width: 1000px; position: relative; align-self: center; align-content: center;">
                <br>
                <div class="container" style="border-radius: 10px; background-color: #dddddd; position: relative;">    
                <br><h1 style="text-align: center;"><a href="http://localhost:8000/" style="color: #29a8ab; text-decoration: none; " >Back</a></h1><br>
                </div>
                <br>
        </div>
        <br>
        </body>
        <script>
        var ikona = '';
        var ty='';
        if("{{type}}"=="error")
        {
                ty = 'Error!';
                ikona = 'error';
        }
        else if("{{type}}"=="ok")
        {
                ty = 'Success!';
                ikona = 'success';
        }
        else
        {
                ty = '?';
                ikona = 'question';
        }
        Swal.fire({
                title: ty,
                text: '{{message}}',
                icon: ikona,
                confirmButtonText: 'Ok'
        })
        </script>
</body>
</html>