<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generate new post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

</head>
<body style="background-color: #3ab9bc;">
    
    <div class="container" style = "background-color: #29a8ab; border-radius: 10px; width: 1000px; position: relative;">
        <br>
        <div class="container" style="border-radius: 10px; background-color: #dddddd; position: relative;">    
            <br><h1 style="text-align: center;"><a href="http://localhost:8000/" style="color: #29a8ab; text-decoration: none; " >Back</a></h1><br>
        </div>
        <br>
        <div class="container" style="background-color: #dddddd; border-radius: 10px; position: relative; text-align: center;">
            <br>
            <form method="post" action="http://localhost:8000/generateend">
                {% csrf_token %}
                <h4 style="color: #29a8ab;"><b>Start phrase:</b></h4><input type="text" style="border-radius: 5px; color: black;" id="start" name="start" value="It was a"><br>
                <h4 style="color: #29a8ab;"><b>Ngram type:</b></h4><input type="number" style="border-radius: 5px; color: black;" id="gram" name="gram" value="1" max="4" min="1"><br>
                <br><input type="submit" style = "border-radius: 5px; color: #ffffff; background-color: #29a8ab; outline: #3ab9bc;"><br>
            </form>
            <br>
        </div>
        <br>
    </div>
    <br>
</body>
</html>